body {
    /* Estilo para o corpo da página */
    background-color: darkcyan;
    display: flex; /* utiliza flexbox para centralizar o conteúdo */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}
/* alinha o conteúdo da página ao centro */
.container {
    text-align: center;
}
/* define o estilo para as imagens */
img {
    max-width: 100px;
    margin-bottom: 20px;
}
/* define o estilo para o cabeçalho */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
/* define o estilo para o título e o parágrafo dentro do cabeçalho */
.header h1 {
    margin: 0 10px 0 0;
}

.header p {
    margin: 0;
}
/* define o estilo para os campos de entrada e botões */
.formID, .mac {
    margin-bottom: 20px;
}

input, button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #005f5f;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #004747;
}
/* define o estilo para a lista de endereços MAC */
/* o uso de .hidden permite ocultar elementos quando necessário */
.hidden {
    display: none;
}

#macList {
    margin-top: 20px;
}

#macList ul {
    list-style-type: none;
    padding: 0;
}

#macList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#macList button {
    margin-left: 10px;
}